h1 {
   position: absolute;
    font-family: "Helvetica";
    font-size: 100px;
    color: rgb(122, 194, 122);
    left: 50px;
}

.marble {
    position: absolute;
  width: 800px;  
top: 250px;
left: 50px;
}
