h1 {
   position: absolute;
    font-family: "Helvetica";
    font-size: 100px;
    color: rgb(122, 194, 122);
    left: 50px;
}

.marble {
    position: absolute;
  width: 500px;  
left: 500px;
top: 100px;
}

h2 {
    position: absolute;
    font-family: "Helvetica";
    font-size: 50px;
    color: rgb(236, 152, 166);
    left: 50px;
    top: 150px;

}